In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("James_Harden.csv")

In [3]:
scoreTable=df.pivot_table(index="对手",columns="主客场",values="投篮命中率")

In [4]:
scoreTable

主客场      主      客
对手
76人  0.381  0.500
勇士     NaN  0.435
国王     NaN  0.381
太阳     NaN  0.545
小牛   0.526    NaN
尼克斯  0.444  0.391
开拓者    NaN  0.552
掘金   0.375    NaN
步行者  0.364  0.429
湖人     NaN  0.591
灰熊   0.420  0.383
爵士   0.760  0.421
猛龙   0.320    NaN
篮网   0.650    NaN
老鹰     NaN  0.533
骑士   0.381    NaN
鹈鹕   0.500    NaN
黄蜂     NaN  0.444

In [5]:
result= scoreTable[scoreTable["主"]>scoreTable["客"]]

In [6]:
result

主客场      主      客
对手
尼克斯  0.444  0.391
灰熊   0.420  0.383
爵士   0.760  0.421

In [7]:
team=result.index.values

In [8]:
team

array(['尼克斯', '灰熊', '爵士'], dtype=object)

In [9]:
print(f"James Harden在对阵{team}时，主场投篮命中率比客场投篮命中率高。")

James Harden在对阵['尼克斯' '灰熊' '爵士']时，主场投篮命中率比客场投篮命中率高。